html, body {
    color: #000000 ;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h5 {
    color: #1a75ff; 
    font-family: 'Raleway', sans-serif;
    margin: 20px;
    text-align: center;
}

footer {
    background-color: #0da0b2;
    color: white; 
    width: 100%;
    height: auto;
    margin: auto;
    padding: 5px 0px;

}

.button {
    background-color: #0da0b2;
    color: #ffffff;
    margin: 3em;
}



.socialmedia {
    width: 100%;
    height: auto;
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.socialmedia a {
    display: flex;
    width: 60px;
    height: 60px;
    background-color: burlywood ;    
    border-radius: 50%;
    color: white;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    float: left;
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
}

.socialmedia a:hover {
    background-color: #000000;
}
/***********************Header********************************/

/* Accueil */
#home{
    min-height: 700px;
    width: auto;
    color: white;
    padding-top: 20%;
    background: linear-gradient(
  rgba(0, 0, 0, 0.445), 
  rgba(0, 0, 0, 0.245)
  ),url('../images/home.jpg');
    
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size:cover;
   text-align: center;
  }
 
  .bg-transparent{
  background: linear-gradient(
  rgba(0, 0, 0, 0.845), 
  rgba(0, 0, 0, 0.645));
 }
 
 #bouton_inscription{
background-color: #0da0b2

 }

 #bouton_connexion{
  background-color: #0da0b2
  
   }


/***********************Flip Box********************************/

.flip-box {
    background-color: transparent;
    width: 200px;
    height: 70px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    font-size: 14px;
    padding: 3px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 3px;
  }
  
  .flip-box-front {
    background-color: burlywood;
    color: black;
  }
  
  .flip-box-back {
    background-color: #000000 ;
    color: white;
    transform: rotateY(180deg);
  }

  /***************************************Bouton Scroll revient en haut*********************/
  #myBtn {
    display: none;
    /* Caché par défault */
    position: fixed;
    /* Position Fixe */
    bottom: 20px;
    /* Placer le bouton en bas de la page*/
    right: 30px;
    /* Placer le bouton à droite de la page*/
    z-index: 99;
    /* S'assure que ça ne chevauche pas */
    border: none;
    /* Enlève les bords */
    outline: none;
    /* Enlève le contour */
    background-color: #1a75ff;
    color: white;
    cursor: pointer;
    /* Ajoute le curseur de la souris sur le bouton on hover */
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #0da0b2;
    /* Add a dark-grey background on hover */
}